<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%d] %t %-5p- %m%n</pattern>
    </encoder>
  </appender>
  <appender name="asyncConsoleAppender" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="consoleAppender" />
  </appender>

  <logger name="com.github.triceo.splitlog">
    <level value="INFO" />
    <appender-ref ref="consoleAppender" />
  </logger>
</configuration>
